#BUTTON-toggle-credits-window {
    position: absolute;
    right: 5px;
    top: 5px;
}

#credits-window {
    width: 700px;
    max-width: 90%;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding: 30px 30px 10px;
    text-align: center;
    background-color: var(--theme-color-dark);
    border-radius: 20px;
    box-shadow: 0px 0px 90px hsla(0, 0%, 0%, 0.8);
}

    #credits-window a {
        color: var(--theme-color);
        text-decoration: none;
        transition: 0.2s ease-out;
        border-bottom: 1px dashed var(--theme-color);
    }

        #credits-window a:hover {
            color: white;
            border: none;
        }

        #credits-window h2 {
            text-transform: uppercase;
            font-size: 18px;
            font-family: 'Rajdhani', sans-serif;
        }

#credits-keybinds {
    width: 500px;
    margin: 20px auto 60px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

#credits-credits {
    margin: 20px auto 0px;
    width: 350px;
}

.credit-group {
    display: grid;
    grid-template-columns: 100px 350px;
    margin: 10px auto;
}

.credit-group img {
    width: 18px;
    height: 18px;
}

.credit-group h6 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.credit-group p {
    text-align: left;
}

#referral-code {
    color: var(--theme-color);
    text-decoration: none;
    transition: 0.2s ease-out;
    border-bottom: 1px dashed var(--theme-color);
}

#referral-code:hover {
    cursor: pointer;
    color: white;
    border: none;
}